$header-oblique-img-width:        60% !default;
$header-oblique-img-right:        -10rem !default;
$header-oblique-transform:        skewX(-10deg) !default;
$header-oblique-overflow:         hidden !default;
$border-radius-lg:            .75rem !default;

body {
  background-color: #F6F6F6;
}

.oblique {
  transform: $header-oblique-transform;
  overflow: $header-oblique-overflow;
  width: $header-oblique-img-width;
  right: $header-oblique-img-right;
  border-bottom-left-radius: $border-radius-lg;
}

.page-header {
  padding: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: 50%;
}

.me-n8 {
  margin-right: -8rem !important;
}

.cali__login-app {
  z-index: 1024;
}

:root{
  --primary: #EC008C;
  --deep-secondary:#04ADEF;

}
@import "admin-template/bootstrap/functions";

// Theme Variables
@import "admin-template/variables";

// Bootstrap Core
@import "admin-template/bootstrap/bootstrap";

// Theme Core
@import "admin-template/theme-pro";

@font-face {
  font-family: 'NucleoIcons';
  src: url('/assets/fonts/nucleo-icons.eot');
  src:  url('nucleo-icons.eot') format('embedded-opentype'),
  url('nucleo-icons.woff2') format('woff2'),
  url('nucleo-icons.woff') format('woff'),
  url('nucleo-icons.ttf') format('truetype'),
  url('nucleo-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* all icon font classes list here */

.pointer {
  cursor: pointer;
}

// Loader
.inner-card {
  width: 100%;
  height: 30px;
  background-color: #D3D3D3;
}
@keyframes pulse {
  50% {
    opacity: .9;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 5, 0.6, 5) infinite;
}

.error {
  color: red;
}

/* width */

::-webkit-scrollbar {
  width: 6px;
}


/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(9, 29, 90, .1);
  border-radius: 0px;
}


/* Handle */

::-webkit-scrollbar-thumb {
  background: rgba(9, 29, 90, 0.4);
  border-radius: 0px;
  opacity: .5;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgba(9, 29, 90, 1);
}