/*footer*/
footer {
  padding: 25px 6% 1vw 4%;
  background-color: #252525;
}

.footer__logo {
  width: 213px;
  min-width: 195px;
  height: 53px;
  min-height: 44px;
}

.footer__footer-container {
  padding-left: 4%;
  border-left: 1px solid #3e3d3d;
}

.footer-container__p--blue {
  color: #4196cd;
  font-weight: 600;
}

.footer-container__p {
  color: white;
  font-size: 14px;
}